.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.85rem 1.5rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
    min-width: 170px;
    border-radius: 0;
    white-space: normal;
    transition: all 0.3s;
    vertical-align: middle;
    border: 1px solid transparent;
    cursor: pointer;

    &.btnPrimary {
        color: #fff;
        background-color: #c96;
        border-color: #c96;
        box-shadow: none;

        &:hover {
            background-color: #ebebeb64;
            color: #c96;
        }
    }

    &.btnOutlinePrimary2 {
        color: #c96;
        background-color: transparent;
        background-image: none;
        border-color: #c96;
        box-shadow: none;

        &:hover {
            background-color: rgba(204, 153, 102, 0.89);
            color: white;
        }
    }
}
