.title {
    margin-bottom: 4rem;
    font-size: 2.2rem;
    letter-spacing: -0.03em;
    text-align: center;

    @media (min-width: 768px) {
        font-size: 2.4rem;
    }
}

.arrowNext,
.arrowPrev {
    display: flex !important;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    z-index: 1;
    transition: 0.35s ease;
    border: 2px solid rgba(0, 0, 0, 0.134);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #ccc;
    font-size: 30px;

    &:hover {
        border: 2px solid #c96;

        svg {
            color: #c96;
        }
    }

    &.arrowNext {
        right: -50px;

        @media (max-width: 1280px) {
            right: 0;
        }
    }
    &.arrowPrev {
        left: -50px;

        @media (max-width: 1280px) {
            left: 0;
        }
    }

    &::before {
        display: none;
    }

    svg {
        transition: 0.35s ease;
    }
}
