.formBox {
    max-width: 575px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 2.2rem 2rem 4.4rem;
    box-shadow: 0 3px 16px rgba(51, 51, 51, 0.1);

    @media screen and (min-width: 768px) {
        padding: 3.7rem 6rem 6.4rem;
    }

    .title {
        font-size: 2.4rem;
        text-transform: capitalize;
        font-weight: 400;
        letter-spacing: -0.025em;
        padding: 0.9rem 1rem;
        line-height: 1.5;
        text-align: center;
        color: #333;
    }

    .buttons {
        margin-left: auto;
        display: grid;
        justify-content: end;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-left: auto;
        max-width: 50%;
        padding: 0.9rem 0;

        @media (max-width: 768px) {
            max-width: 100%;
            display: flex;
        }

        button {
            width: 100%;
            min-width: 0;

            &.cancelBtn {
                svg {
                    margin-right: 0.5rem;
                    font-size: 1.4rem;
                }
            }

            &.submitBtn {
                svg {
                    font-size: 2.3rem;
                    margin-left: 0.3rem;
                }
            }
        }
    }
}
