.questions {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    width: 100%;

    @media (min-width: 992px) {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .title {
        margin-bottom: 1rem;
        font-size: 2.2rem;
        letter-spacing: -0.03em;

        @media screen and (min-width: 768px) {
            font-size: 2.4rem;
        }
    }

    .description {
        margin-bottom: 2rem;
    }

    .form {
        margin-bottom: 3rem;

        .column {
            padding-right: 10px;
            padding-left: 10px;
            position: relative;
            width: 100%;

            @media (min-width: 576px) {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }

            input {
                margin-bottom: 2rem;
            }
        }

        textarea {
            min-height: 130px;
            padding-top: 1.1rem;
            padding-bottom: 1.1rem;
            height: auto;
        }

        button {
            min-width: 122px;
            gap: 1rem;
        }
    }
}
