.moreContainer {
    margin-top: 5rem;
    margin-bottom: 7rem;
    text-align: center;

    a {
        button {
            border-radius: 3rem;
            gap: 1rem;
            padding-top: 1.15rem;
            padding-bottom: 1.15rem;
            min-width: 230px;
            border-color: #ebebeb;

            &:hover {
                border-color: #c96;
            }

            span {
                text-transform: uppercase;
            }
        }
    }
}
