.content {
    line-height: 2.15;
    padding-bottom: 2rem;

    p {
        margin-bottom: 1rem;
    }

    .fontDark {
        color: #333;
        font-weight: 400;
    }

    .linkUnderline {
        box-shadow: 0 1px 0 0 #c96;
    }
}
