.tr {
    td {
        padding-top: 3rem;
        padding-bottom: 3rem;
        vertical-align: middle;
        padding-left: 0;
        padding-right: 0;
        border-top: none;
        border-bottom: 0.1rem solid #ebebeb;

        &.numberCol {
            width: 40px;
            color: #999;
        }

        &.dateCol {
            width: 140px;
            color: #999;
        }

        &.shippingTypeCol {
            width: 120px;
            color: #999;
        }

        &.productsCol {
            width: 420px;

            ul {
                display: grid;
                grid-template-rows: 1fr;
                gap: 12px;

                li {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .cartProductQuantityWithPrice {
                        font-size: 1.3rem;
                        color: #999;
                    }

                    a {
                        color: #333;
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 1.25;

                        &:hover {
                            color: #c96;
                        }
                    }
                }
            }
        }

        &.totalCol {
            width: 60px;
            color: #c96;
            font-size: 1.6rem;
        }
    }
}
