.container {
    padding-top: 48px;
    padding-bottom: 48px;

    .contentGrid {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    .rightColumn {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}
