.footer {
    width: 100%;
    font-weight: 300;
    font-size: 1.4rem;
    color: #777;
    background-color: #fff;

    .footerMiddle {
        padding: 6.7rem 0 2.2rem;
        border-top: 0.1rem solid #ebebeb;

        .container {
            .row {
                margin-left: -10px;
                margin-right: -10px;
                display: flex;
                flex-wrap: wrap;

                .column {
                    padding-right: 10px;
                    padding-left: 10px;
                    width: 100%;

                    @media (min-width: 576px) {
                        -ms-flex: 0 0 50%;
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                    @media (min-width: 992px) {
                        flex: 0 0 25%;
                        max-width: 25%;
                    }

                    .widget {
                        margin-bottom: 4rem;

                        .footerLogo {
                            margin-bottom: 2rem;
                            margin-top: -0.8rem;
                        }

                        p {
                            margin-bottom: 3.2rem;
                            max-width: 260px;
                        }
                    }
                }
            }
        }
    }

    .footerBottom {
        position: relative;

        &::before {
            content: "";
            display: block;
            height: 1px;
            position: absolute;
            top: 0;
            left: 10px;
            right: 10px;
            background-color: #ebebeb;
        }

        .bottomContainer {
            flex-direction: row;
            position: relative;
            display: flex;
            padding-top: 2.1rem;
            padding-bottom: 2.9rem;

            @media (max-width: 992px) {
                flex-direction: column;
            }

            .footerCopyright {
                @media (max-width: 992px) {
                    margin-bottom: 1rem;
                    text-align: center;
                }
            }

            .footerPayments {
                margin-left: auto;

                @media (max-width: 992px) {
                    margin-right: auto;
                }
            }
        }
    }
}
