.ratings {
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    line-height: 1;
    position: relative;
    color: #cccccc;

    svg {
        margin-left: 0.3rem;

        &:first-child {
            margin-left: 0;
        }

        &.active {
            color: #fcb941;
        }
    }
}
