.topSellingProducts {
    .heading {
        text-align: center;
        margin-bottom: 3rem;

        .title {
            font-weight: 400;
            margin-bottom: 2rem;
            letter-spacing: -0.025em;
        }

        .nav {
            -ms-flex-pack: center;
            justify-content: center;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;

            .navItem {
                .navLink {
                    font-size: 1.4rem;
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 1.5;
                    letter-spacing: -0.01em;
                    padding: 0.45rem 1rem;
                    border-radius: 0;
                    text-align: center;
                    text-transform: uppercase;
                    border: none;
                    border-bottom: 0.1rem solid transparent;
                    background-color: transparent;
                    transition: all 0.35s ease;
                    color: #777;
                    display: block;

                    &.active {
                        color: #c96;
                        border-bottom-color: #c96;
                    }

                    &:hover {
                        color: #c96;
                    }
                }
            }
        }
    }

    .tabContent {
        .tabPane {
            display: block;

            .row {
                margin-left: 0;
                margin-right: 0;

                .column {
                    padding-left: 0;
                    padding-right: 0;
                    display: flex;
                    align-items: stretch;
                    border-right: 0.1rem solid #eee;
                    width: 100%;
                    position: relative;
                    flex: 0 0 50%;
                    max-width: 50%;
                    -ms-flex: 0 0 50%;
                    @media screen and (min-width: 576px) {
                        &:nth-child(2n) {
                            border-right-width: 0;
                        }
                    }
                    @media screen and (min-width: 768px) {
                        &:nth-child(2n) {
                            border-right-width: 0.1rem;
                        }
                    }
                    @media screen and (min-width: 1200px) {
                        &:nth-child(5n) {
                            border-right-width: 0;
                        }
                    }

                    @media (min-width: 768px) {
                        -ms-flex: 0 0 33.333333%;
                        flex: 0 0 33.333333%;
                        max-width: 33.333333%;
                    }
                    @media (min-width: 992px) {
                        -ms-flex: 0 0 25%;
                        flex: 0 0 25%;
                        max-width: 25%;
                    }
                    @media screen and (min-width: 1200px) {
                        -ms-flex: 0 0 20%;
                        flex: 0 0 20%;
                        max-width: 20%;
                    }
                }
            }
        }
    }

    .moreContainer {
        margin-top: 5rem;
        margin-bottom: 7rem;
        text-align: center;

        a {
            button {
                border-radius: 3rem;
                gap: 1rem;
                padding-top: 1.15rem;
                padding-bottom: 1.15rem;
                min-width: 230px;
                border-color: #ebebeb;

                &:hover {
                    border-color: #c96;
                }

                span {
                    text-transform: uppercase;
                }
            }
        }
    }
}
