.detailsFilter {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 2rem;

    label {
        display: inline-block;
        margin: 0 0 1.1rem;
        margin-bottom: 0;
        width: 67px;
        color: #666;
        font-weight: 400;
        font-size: 1.4rem;
    }

    .quantityFilter {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
        max-width: 131px;

        button {
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            z-index: 2;
            cursor: pointer;
            border: none;
            background: none;
            padding: 1.25rem 1rem;
            height: 100%;
            font-size: 0.8rem;

            &.decrement {
                left: 0;
            }
            &.increment {
                right: 0;
            }

            svg {
                color: #6666669d;
            }
        }

        input {
            border: 1px solid #dadada;
            background-color: #fff;
            padding: 0.85rem 2.6rem;
            min-width: 131px;
            height: auto;
            color: #777;
            font-size: 1.4rem;
            line-height: 1.5;
            text-align: center;
        }
    }
}
