.widget {
    margin: 0 0 2rem;
    border-bottom: 0.1rem solid #ebebeb;
    color: #333;

    .title {
        margin-bottom: 0.7rem;
        color: #333;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.15;
        letter-spacing: -0.01em;

        .top {
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: center;
            padding-right: 1.3rem;
            color: inherit;
            text-decoration: none;
            cursor: pointer;

            svg {
                color: #333;
                font-size: 1.4rem;
                line-height: 1;
            }
        }
    }

    .widgetContentWrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: 0.3s;
        overflow: hidden;
        padding: 0;

        &.opened {
            grid-template-rows: 1fr;
            padding-top: 1rem;
            padding-bottom: 2rem;
        }

        .widgetBody {
            min-height: 0;

            .item {
                position: relative;
                margin-bottom: 0.3rem;
                padding-right: 4rem;

                .customControl {
                    display: block;
                    position: relative;
                    margin: 0;
                    padding-left: 2.7rem;
                    min-height: 1.5rem;

                    .customControlInput {
                        position: absolute;
                        opacity: 0;
                        z-index: -1;
                        box-sizing: border-box;
                        margin: 0;
                        padding: 0;
                        overflow: visible;
                        font-size: inherit;
                        line-height: inherit;
                        font-family: inherit;
                    }

                    .customControlLabel {
                        display: inline-block;
                        position: static;
                        vertical-align: top;
                        cursor: pointer;
                        margin-top: 0.1rem;
                        margin-left: -2.6rem;
                        padding-left: 2.6rem;
                        color: #333;
                        font-weight: 400;
                        font-size: 1.4rem;

                        &::before {
                            display: block;
                            position: absolute;
                            top: 0.6rem;
                            left: 0;
                            transition: background-color 0.15s ease-in-out,
                                border-color 0.15s ease-in-out,
                                box-shadow 0.15s ease-in-out;
                            border: 1px solid #dadada;
                            border-radius: 0.2rem;
                            background-color: #f9f9f9;
                            width: 1.6rem;
                            height: 1.6rem;
                            pointer-events: none;
                            content: "";
                        }

                        &::after {
                            display: flex;
                            position: absolute;
                            top: 0.6rem;
                            left: 0;
                            justify-content: center;
                            align-items: center;
                            visibility: hidden;
                            opacity: 0;
                            transition: opacity 0.01s;
                            margin-top: 0.1rem;
                            background: no-repeat 50%/50% 50%;
                            background-image: none;
                            width: 1.6rem;
                            height: 1.6rem;
                            content: "+";
                            color: #fff;
                            font-size: 1rem;
                            line-height: 1;
                            text-align: center;
                        }
                    }

                    .customControlInput:checked ~ .customControlLabel::before {
                        border-color: #333;
                        background-color: #333;
                        color: #fff;
                    }
                }

                .count {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    min-width: 2.5rem;
                    height: 2rem;
                    margin-top: -1rem;
                    font-weight: 300;
                    font-size: 1.3rem;
                    line-height: 1;
                    border-radius: 0.6rem;
                    color: #777;
                    background-color: #f8f8f8;
                }
            }
        }
    }
}
