:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: normal 300 1.4rem/1.86 var(--font-family-sans-serif);
    color: #666;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    margin: 0;
    text-align: left;
}

.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    transition: transform 0.4s ease;
}

.container {
    width: 1188px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 1280px) {
        max-width: 1200px;
    }
    @media (max-width: 1200px) {
        max-width: 1140px;
    }
    @media (max-width: 992px) {
        max-width: 960px;
    }
    @media (max-width: 768px) {
        max-width: 720px;
    }
    @media (max-width: 576px) {
        max-width: 540px;
    }
}

a {
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: #c96;
    }
}

ul,
li {
    list-style: none;
}
