.actions {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 3rem;

    @media screen and (min-width: 768px) and (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
    }

    @media (max-width: 580px) {
        flex-direction: column;
        align-items: flex-start;
    }

    .addToCart {
        width: 100%;
        max-width: 210px;
        text-transform: uppercase;

        @media screen and (max-width: 580px) {
            max-width: 198px;
            min-width: 0;
        }

        &.inactive {
            color: #ccc;
            border-color: #ebebeb;
            background-color: #fafafa;
            cursor: default;
        }

        svg {
            margin-right: 0.5rem;
            font-size: 2rem;
            margin-top: -0.1rem;
        }

        span {
            font-size: 1.4rem;
        }
    }

    .actionsWrapper {
        display: flex;
        align-items: center;
        margin-left: 4rem;

        @media screen and (min-width: 992px) and (max-width: 1199px) {
            margin-left: 1rem;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
            margin-left: 0;
            margin-top: 1.5rem;
        }

        @media (max-width: 580px) {
            margin-left: 0;
            margin-top: 1.5rem;
        }

        .addToWishlist {
            padding-top: 0;
            padding-bottom: 0;
            white-space: nowrap;
            align-self: stretch;
            line-height: 1.4;
            font-size: 1.6rem;
            color: #666666;
            letter-spacing: -0.01em;
            border: none;
            background: none;

            @media screen and (min-width: 768px) and (max-width: 991px) {
                padding-left: 0;
                justify-content: start;
            }

            @media (max-width: 580px) {
                padding-left: 0;
                justify-content: start;
            }

            svg {
                margin-top: -0.1rem;
                color: #c96;
                margin-right: 1rem;
            }

            span {
                transition: 0.3s;
                letter-spacing: 0.01rem;
            }

            &:hover {
                background: none;

                span {
                    color: #c96;
                    box-shadow: 0 1px 0 0 #c96;
                }
            }
        }
    }
}
