.newArrivals {
    padding-bottom: 10rem;
    padding-top: 5rem;
    margin-bottom: 3rem;
    background-color: #f8f8f8;

    .heading {
        text-align: center;
        margin-bottom: 3rem;

        .title {
            margin-bottom: 1.4rem;
            font-weight: 400;
            letter-spacing: -0.025em;
            font-size: 2.6rem;

            @media screen and (min-width: 768px) {
                font-size: 3rem;
            }
        }

        .nav {
            justify-content: center;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;

            .navItem {
                .navLink {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: -0.01em;
                    padding: 0.45rem 1rem;
                    border-radius: 0;
                    text-align: center;
                    text-transform: uppercase;
                    border: none;
                    border-bottom: 0.1rem solid transparent;
                    background-color: transparent;
                    transition: all 0.35s ease;
                    display: block;
                    color: #777;

                    &:hover {
                        color: #c96;
                    }

                    &.active {
                        color: #c96;
                        border-bottom-color: #c96;
                    }
                }
            }
        }
    }

    .tabContent {
        .product {
            border-left: 0.1rem solid #eeeeee;
            width: 100%;
            position: relative;
            overflow: hidden;
            background-color: #fff;
            transition: box-shadow 0.35s ease;

            .media {
                position: relative;
                display: block;
                background-color: #d7d7d7;
                margin: 0 0 1rem;
                margin-bottom: 0;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    background-color: #999;
                    transition: all 0.3s;
                }

                .productLink {
                    display: block;

                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }

                .label {
                    position: absolute;
                    z-index: 1;
                    top: 2rem;
                    left: 2rem;
                    font-weight: 400;
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                    letter-spacing: -0.01em;
                    padding: 0.5rem 0.9rem;
                    min-width: 45px;
                    text-align: center;
                    color: #333333;
                    background-color: #fff;

                    &.labelPrimary {
                        background-color: #c96;
                        color: #fff;
                    }
                    &.labelSale {
                        color: #fff;
                        background-color: #ef837b;
                        top: 5rem;
                    }
                }

                .actionVertical {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    right: 2rem;
                    top: 2rem;
                    background-color: transparent;
                    z-index: 10;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.35s ease;
                    transform: translateX(-15px);

                    a {
                        color: #c96;
                        position: relative;
                        font-size: 1.6rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 3rem;
                        height: 3rem;
                        line-height: 1;
                        transition: all 0.35s ease;
                        padding: 0;
                        border-radius: 50%;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}
