.column {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    width: 100%;

    @media screen and (min-width: 992px) {
        -ms-flex: 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
    }
    @media (min-width: 992px) {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .table {
        margin-bottom: 3rem;
        width: 100%;
        color: #212529;
        border-collapse: collapse;

        th {
            border-top: none;
            border-bottom: 0.1rem solid #ebebeb;
            vertical-align: bottom;
            padding-left: 0;
            padding-right: 0;
            padding-top: 1.4rem;
            padding-bottom: 1.4rem;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.5;
            color: #999;
            text-align: inherit;
        }

        td {
            padding-top: 3rem;
            padding-bottom: 3rem;
            vertical-align: middle;
            padding-left: 0;
            padding-right: 0;
            border-top: none;
            border-bottom: 0.1rem solid #ebebeb;

            &.productCol {
                .product {
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding-right: 2rem;
                    box-shadow: none;
                    overflow: hidden;
                    position: relative;
                    transition: box-shadow 0.35s ease;
                    background-color: #fff;

                    .productMedia {
                        display: inline-block;
                        margin: 0;
                        margin-right: 2.8rem;
                        flex-shrink: 0;
                        max-width: 60px;
                        position: relative;
                        background-color: #d7d7d7;
                        overflow: hidden;

                        a {
                            display: block;
                        }
                    }

                    .productTitle {
                        display: inline-block;
                        color: #333;
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 1.25;
                        margin: 0;
                        letter-spacing: -0.01em;

                        a {
                            color: inherit;

                            &:hover {
                                color: #c96;
                            }
                        }
                    }
                }
            }

            &.priceCol {
                width: 120px;
                color: #333;
                font-weight: 400;
                font-size: 1.6rem;
            }

            &.quantityCol {
                width: 135px;
            }

            &.totalCol {
                width: 80px;
                color: #c96;
                font-weight: 400;
                font-size: 1.6rem;
            }

            &.removeCol {
                padding-right: 0;
                padding-left: 0;
                width: 38px;
                text-align: right;

                .btnRemove {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 3rem;
                    height: 3rem;
                    color: #cccccc;
                    background-color: transparent;
                    font-size: 1.7rem;
                    line-height: 1;
                    border: none;
                    outline: none;
                    transition: all 0.35s;
                    cursor: pointer;
                    margin-right: -0.7rem;

                    &:hover {
                        color: #333;
                    }

                    img {
                        font-size: 1.7rem;
                        line-height: 1;
                    }
                }
            }
        }
    }

    .cartBottom {
        display: flex;
        align-items: flex-start;
        margin-bottom: 5rem;

        .cartDiscount {
            flex: 0 0 50%;
            max-width: 326px;

            .inputGroup {
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -ms-flex-align: stretch;
                align-items: stretch;
                width: 100%;

                input {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    margin-right: 1.1rem;
                    position: relative;
                    -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                    width: 1%;
                    margin-bottom: 0;
                    height: 40px;
                    padding: 0.85rem 2rem;
                    font-size: 1.4rem;
                    line-height: 1.5;
                    font-weight: 300;
                    color: #777;
                    background-color: #fafafa;
                    border: 1px solid #ebebeb;
                    border-radius: 0;
                    transition: all 0.3s;
                    box-shadow: none;
                    display: block;
                    overflow: visible;
                    margin: 0;
                    font-family: inherit;
                    transition: 0.35s all;
                    margin-right: 1.1rem;
                    outline: none;

                    &:focus {
                        color: #777;
                        background-color: #fff;
                        border-color: #c96;
                        box-shadow: none;
                    }
                }

                .inputGroupAppend {
                    margin-left: -1px;
                    display: -ms-flexbox;
                    display: flex;

                    button {
                        min-width: 40px;
                        font-size: 1.1rem;
                    }
                }
            }
        }

        .updateCart {
            margin-left: auto;
            min-width: 152px;

            svg {
                margin-left: 1rem;
                width: 14px;
            }
        }
    }
}
