@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		font-size: 62.5%;
		-webkit-tap-highlight-color: transparent;
	}

	html {
		scrollbar-color: hsl(25, 100%, 58%) hsl(223, 64%, 95%);
		/* scrollbar-width: auto; */
	}
	html::-webkit-scrollbar {
		width: 0.8rem;
	}
	html::-webkit-scrollbar-thumb {
		background-color: hsl(25, 100%, 58%);
		border-radius: 9999px;
	}
	html::-webkit-scrollbar-track {
		background-color: hsl(223, 64%, 95%);
	}

	input:not(:focus-visible, :placeholder-shown) + span {
		display: none;
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-transition-delay: 9999s;
		transition-delay: 9999s;
	}
}

@layer utilities {
	.sb-thumb-orange {
		scrollbar-color: hsl(25, 100%, 58%) hsl(223, 64%, 95%);
		scrollbar-width: thin;
	}
	.sb-thumb-orange::-webkit-scrollbar-thumb {
		background-color: hsl(25, 100%, 58%);
		border-radius: 9999px;
	}
	.sb-track-gray::-webkit-scrollbar-track {
		background-color: hsl(223, 64%, 95%);
	}
	.sb-w-2::-webkit-scrollbar {
		width: 0.4rem;
	}
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-hide {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.fake-placeholder {
		@apply absolute left-8 pointer-events-none text-xl tracking-wider transition-all duration-300 peer-placeholder-shown:text-Grayish_blue peer-placeholder-shown:text-2xl peer-focus-visible:text-xl peer-focus-visible:-translate-y-12 peer-focus-visible:bg-white peer-focus-visible:text-Orange/75 peer-focus-visible:font-bold;
	}
	.wave {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
	}
	.wave svg {
		position: relative;
		display: block;
		width: calc(147% + 1.3px);
		height: 160px;
	}
	.wave .shape-fill {
		fill: #ffffff;
	}

	@media (max-width: 767px) {
		.wave svg {
			width: calc(265% + 1.3px);
			height: 160px;
		}
	}
}
