.whoWeAre {
    margin-bottom: 8rem;
    padding-top: 6rem;
    padding-bottom: 5rem;
    background-color: #f9f9f9;

    .columnLeft {
        margin-bottom: 3rem;
        padding-right: 10px;
        padding-left: 10px;

        @media screen and (min-width: 992px) {
            margin-bottom: 0rem;
        }
        @media (min-width: 992px) {
            -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }

        .title {
            font-size: 2.2rem;
            letter-spacing: -0.03em;

            @media screen and (min-width: 768px) {
                font-size: 2.4rem;
            }
        }

        .descriptionFirst {
            color: #c96;
            margin-bottom: 3rem;
        }

        .descriptionSecond {
            margin-bottom: 2rem;
        }

        .button {
            min-width: 170px;

            svg {
                margin-left: 1rem;
            }
        }
    }
}
