.contentWrapper {
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 2.2rem 2rem 4.4rem;
    box-shadow: 0 3px 16px rgba(51, 51, 51, 0.1);

    .content {
        align-items: start;
        column-gap: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;

        .tag {
            align-items: center;
            background-color: #c96;
            border-radius: 4px;
            bottom: auto;
            color: #fff;
            display: inline-flex;
            flex-wrap: wrap;
            left: 20px;
            line-height: 1;
            padding: 5px 15px;
            position: absolute;
            right: auto;
            top: 20px;
            width: auto;
            z-index: 1;
        }

        .leftColumn {
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow: hidden;
            padding: 0;
            position: relative;
            width: 100%;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

            .mainImage {
                img {
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }

            .nav {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 10px;

                img {
                    border: 1px solid #e5e5e5;
                    cursor: pointer;
                    height: 100px;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}
