.pagination {
    align-items: center;
    margin-bottom: 2rem;
    display: flex;

    .pageItem {
        margin-left: 0.4rem;

        &:first-child {
            margin-left: 0;
        }

        &.active {
            button {
                color: #c96;
                background-color: transparent;
                border-color: #ebebeb;
                z-index: 1;
            }
        }

        &.inactive {
            button {
                border-color: transparent;
                color: #eaeaea;
                border-top-left-radius: 0.3rem;
                border-bottom-left-radius: 0.3rem;
                pointer-events: none;
                cursor: auto;
                background-color: #fff;
            }
        }

        .pageLink {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 3rem;
            height: 4rem;
            font-weight: 400;
            font-size: 1.4rem;
            padding: 0 0.3rem;
            line-height: 1;
            color: #706f6c;
            border-radius: 0.3rem;
            background-color: transparent;
            border: 0.1rem solid transparent;
            position: relative;
            margin-left: -1px;

            &:hover {
                color: #c96;
                background-color: transparent;
                border-color: #ebebeb;
                z-index: 1;
            }

            &.pageLinkPrev,
            &.pageLinkNext {
                padding-left: 1rem;
                padding-right: 1rem;
                min-width: 70px;
            }

            &.pageLinkPrev {
                margin-right: 1.7rem;

                svg {
                    margin-right: 1rem;
                }
            }
            &.pageLinkNext {
                border-top-right-radius: 0.3rem;
                border-bottom-right-radius: 0.3rem;
                margin-left: 1.8rem;

                svg {
                    margin-left: 1rem;
                }
            }
        }
    }

    .total {
        color: #cccccc;
        font-size: 1.4rem;
        font-weight: 400;
        margin-left: 1.2rem;
    }
}
