.selectCustom {
    position: relative;

    .formControl {
        height: 30px;
        border-color: #d7d7d7;
        font-size: 1.3rem;
        padding-right: 2rem;
        max-width: 140px;
        min-width: 140px;
        background-color: #fff;
        color: #999;
        font-weight: 300;
        padding: 0.45rem 1rem;
        margin-bottom: 0;
        line-height: 1.5;
        border: 1px solid #ebebeb;
        border-radius: 0;
        transition: all 0.3s;
        box-shadow: none;
        display: block;
        width: 100%;
        background-clip: padding-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-indent: 1px;
        text-overflow: "";
    }

    .arrow {
        right: 0.9rem;
        font-size: 1.3rem;
        position: absolute;
        display: inline-block;
        top: 50%;
        transform: translateY(-51%);
        color: #33333392;
        cursor: pointer;
        width: 16px;
    }
}
