.modalBackdrop {
    opacity: 0;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.15s linear;

    &.active {
        opacity: 0.4;
    }
}

.modalWrapper {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    transition: opacity 0.15s linear;

    &.active {
        display: block;
        padding-left: 0px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
