.tr {
    td {
        padding-top: 3rem;
        padding-bottom: 3rem;
        vertical-align: middle;
        padding-left: 0;
        padding-right: 0;
        border-top: none;
        border-bottom: 0.1rem solid #ebebeb;

        &.productCol {
            @media screen and (max-width: 991px) {
                padding-bottom: 0.6rem;
            }

            .product {
                display: flex;
                align-items: center;
                margin: 0;
                padding-right: 2rem;
                box-shadow: none;
                overflow: hidden;
                position: relative;
                transition: box-shadow 0.35s ease;
                background-color: #fff;

                @media screen and (max-width: 991px) {
                    justify-content: center;
                    padding-right: 0;
                }

                .productMedia {
                    display: inline-block;
                    margin: 0;
                    margin-right: 2.8rem;
                    flex-shrink: 0;
                    max-width: 60px;
                    position: relative;
                    background-color: #d7d7d7;
                    overflow: hidden;

                    @media screen and (max-width: 767px) {
                        margin-right: 1.5rem;
                    }

                    a {
                        display: block;
                    }
                }

                .productTitle {
                    display: inline-block;
                    color: #333;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 1.25;
                    margin: 0;
                    letter-spacing: -0.01em;

                    @media screen and (max-width: 991px) {
                        text-align: left;
                    }

                    a {
                        color: inherit;

                        &:hover {
                            color: #c96;
                        }
                    }
                }
            }
        }

        &.priceCol {
            width: 120px;
            color: #333;
            font-weight: 400;
            font-size: 1.6rem;
        }

        &.quantityCol {
            width: 135px;
        }

        &.totalCol {
            width: 80px;
            color: #c96;
            font-weight: 400;
            font-size: 1.6rem;
        }

        &.sizeCol {
            width: 60px;
        }

        &.removeCol {
            padding-right: 0;
            padding-left: 0;
            width: 38px;
            text-align: right;

            @media screen and (max-width: 991px) {
                position: absolute;
                right: 1.5rem;
                top: 0.5rem;
                padding: 0.5rem !important;
                width: auto !important;
            }
        }
    }
}
