.whatCustomersSay {
    padding-bottom: 6rem;
    padding-top: 6rem;
    background-color: #f9f9f9;

    .title {
        font-size: 2.2rem;
        letter-spacing: -0.03em;
        text-align: center;

        @media screen and (min-width: 768px) {
            font-size: 2.4rem;
        }
    }

    .arrowButton {
        background: transparent;
        border: none;
        opacity: 0.7;
        position: absolute;
        top: 50%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        margin: 0;
        margin-top: -21px;
        color: #ccc;
        line-height: 1;
        padding: 0;
        border: none;
        background: transparent;
        cursor: pointer;
        border-radius: 50px;
        transition: all 0.3s ease;

        &:hover {
            color: #c96;
        }

        &.prevArrow {
            left: -50px;
        }

        &.nextArrow {
            right: -50px;
        }
    }

    .dots {
        bottom: -20px;
        position: absolute;
        left: 0;
        right: 0;
        line-height: 0;
        text-align: center;
        -webkit-tap-highlight-color: transparent;

        li {
            display: inline-block;
            zoom: 1;
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            user-select: none;

            button {
                width: 8px;
                height: 8px;
                margin: 5px 6px;
                border: 0.1rem solid #d7d7d7;
                background: transparent;
                display: block;
                -webkit-backface-visibility: visible;
                backface-visibility: visible;
                transition: all 0.3s ease;
                border-radius: 30px;
                font-size: 0;
                cursor: pointer;

                &:hover {
                    background: #d7d7d7;
                }
            }
        }
    }
}
