.column {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    width: 100%;

    @media (min-width: 992px) {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}
