.categories {
    .row {
        justify-content: center;

        .column {
            padding-right: 10px;
            padding-left: 10px;
            position: relative;
            width: 100%;

            @media (min-width: 576px) {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
            @media (min-width: 768px) {
                -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
            }

            .banner {
                background-color: #e6e6e6;
                display: block;
                position: relative;
                margin-bottom: 2rem;

                a {
                    position: relative;
                    display: block;
                    outline: none;

                    img {
                        display: block;
                        max-width: none;
                        width: 100%;
                        height: auto;
                    }
                }

                .bannerContent {
                    padding-top: 1.1rem;
                    overflow: hidden;
                    padding: 1.8rem 2rem 0.7rem;
                    background-color: rgba(255, 255, 255, 0.9);
                    left: 0;
                    right: 0;
                    top: auto;
                    bottom: 0;
                    transform: translateY(0);
                    -ms-transform: translateY(0);
                    transition: all 0.3s ease;
                    display: inline-block;
                    position: absolute;
                    z-index: 2;
                    text-align: center;

                    .bannerTitle {
                        margin-bottom: 0.1rem;
                        color: #333333;
                        font-size: 2rem;
                        line-height: 1.3;
                        letter-spacing: -0.03em;
                        font-weight: 400;
                    }

                    .bannerSubtitle {
                        margin-bottom: 0.9rem;
                        color: #777;
                        font-weight: 300;
                        font-size: 1.6rem;
                        line-height: 1.2;
                        letter-spacing: 0;
                    }

                    .bannerLink {
                        opacity: 0;
                        position: absolute;
                        bottom: 12px;
                        left: 0;
                        right: 0;
                        transition: all 0.3s ease;
                        transform: translateY(30px);
                        -ms-transform: translateY(30px);
                        font-weight: 400;
                        display: inline-block;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                &:hover {
                    .bannerLink {
                        opacity: 1;
                        transform: translateY(0);
                        -ms-transform: translateY(0);
                    }

                    .bannerContent {
                        padding-bottom: 3.7rem;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}
