.actionButtons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    margin-top: 48px;

    @media (max-width: 640px) {
        flex-direction: column;
    }
}
