.productRow {
    @media screen and (max-width: 991px) {
        &:not(:last-child) {
            border-bottom: 0.1rem solid #ebebeb;
        }
    }
    @media screen and (max-width: 991px) {
        position: relative;
        padding-top: 4.2rem;
        padding-bottom: 4rem;
        width: 100%;
        display: block;
    }

    td {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        vertical-align: middle;
        border-bottom: 0.1rem solid #ebebeb;

        @media screen and (max-width: 991px) {
            text-align: center;
            padding: 0.1rem 3rem;
            border-bottom: none;
            width: 100% !important;
            display: block;
        }

        &.productCol {
            @media screen and (max-width: 991px) {
                padding-bottom: 0.6rem;
            }

            .product {
                display: flex;
                align-items: center;
                padding-right: 2rem;
                box-shadow: none;
                overflow: hidden;
                position: relative;
                transition: box-shadow 0.35s ease;
                background-color: #fff;

                @media screen and (max-width: 991px) {
                    justify-content: center;
                    padding-right: 0;
                }

                .productMedia {
                    display: inline-block;
                    margin: 0;
                    margin-right: 2.8rem;
                    flex-shrink: 0;
                    max-width: 60px;
                    position: relative;
                    background-color: #d7d7d7;
                    overflow: hidden;

                    a {
                        display: block;

                        img {
                            display: block;
                            max-width: 100%;
                            max-height: 75px;
                        }
                    }
                }

                .productTitle {
                    display: inline-block;
                    color: #333;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 1.25;
                    margin: 0;
                    letter-spacing: -0.01em;

                    @media screen and (max-width: 991px) {
                        text-align: left;
                    }

                    a {
                        color: inherit;

                        &:hover {
                            color: #c96;
                        }
                    }
                }
            }
        }

        &.priceCol {
            width: 180px;
            color: #333;
            font-weight: 500;
            font-size: 1.6rem;

            .currentPrice {
                color: #ef837b;
                margin-right: 0.8rem;
            }
            .previousPrice {
                color: #cccccc;
                text-decoration: line-through;
            }
        }

        &.stockCol {
            width: 160px;
            font-weight: 400;
            font-size: 1.6rem;

            .inStock {
                color: #a6c76c;
            }
            .outOfStock {
                color: #ef837b;
            }
        }

        &.actionCol {
            width: 202px;

            @media screen and (max-width: 991px) {
                padding-top: 1.5rem;
            }

            .button {
                width: 100%;
                height: 40px;
                padding-top: 0.55rem;
                padding-bottom: 0.55rem;
                font-size: 1.3rem;
                text-transform: uppercase;
                gap: 1rem;

                @media screen and (max-width: 991px) {
                    max-width: 220px;
                    margin-left: auto;
                    margin-right: auto;
                }

                svg {
                    font-size: 1.8rem;
                }
            }
        }

        &.removeCol {
            padding-right: 0;
            padding-left: 0;
            width: 38px;
            text-align: right;

            @media screen and (max-width: 991px) {
                position: absolute;
                right: 1.5rem;
                top: 0.5rem;
                padding: 0.5rem;
                width: auto;
            }

            button {
                margin-right: -0.7rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 3rem;
                height: 3rem;
                color: #cccccc;
                background-color: transparent;
                font-size: 1.7rem;
                line-height: 1;
                border: none;
                outline: none;
                transition: all 0.35s;
                cursor: pointer;

                &:hover {
                    color: #333;
                }
            }
        }
    }
}
