.loginPage {
    padding-bottom: 12rem;
    padding-top: 12rem;
    background-color: #ccc;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/images/banners/login-bg.png);
}
